@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --hydra-dark: #191919;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
@layer utilities {

}
html {
    @apply bg-hydra-dark;
}

body {
  @apply bg-hydra-dark text-white;
}

.gradient-fade-between {
    background-size: 200%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

.Header {
    @apply text-white font-bold text-4xl font-BreezeHeader px-5;
  }
  
  .Text {
    @apply text-white text-2xl font-BreezeText px-12;
  }
  
  .Tagline {
    @apply text-white text-base font-BreezeText px-12 text-center;
  }
  
  .ResumeHeader {
    @apply text-blue-300 font-bold text-4xl font-BreezeHeader px-5;
  }
  
  .ResumeText {
    @apply text-blue-300 text-2xl font-BreezeText px-12;
  }
  
  .ResumeTagline {
    @apply text-blue-300 text-2xl font-BreezeText px-12 italic text-center;
  }
  
  .Button {
    @apply text-white font-bold text-2xl font-BreezeHeader rounded-xl border-8 border-blue-600 bg-blue-600;
  }
  
  .Body {
    @apply h-screen;
  }
  
  .BodyColour {
    @apply bg-gray-800;
  }
  
  .PageBannerTitle {
    @apply font-extrabold text-3xl md:text-5xl lg:text-6xl py-4 font-BreezeHeader px-12 md:px-36 bg-clip-text text-center md:text-left hidden sm:inline-block;
  }
  
  .PageBannerText {
    @apply font-medium text-2xl lg:text-4xl py-2 font-BreezeMono px-12 md:px-36 bg-clip-text inline-block text-center md:text-left;
}
  
  .PageBannerPhoto {
    @apply h-48 sm:h-64 md:h-80 lg:h-[94vh] bg-center flex items-center;
  }
  
  .homeVideoPlayer {
    object-fit: cover;
    object-position: center;
    overflow: hidden;
  }
  
  .HoverText {
    background-size: cover;
    position: absolute;
    display: inline-block;
    z-index: -1;
  }