@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 25, 25, 25;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }
  

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {

}

html {
    @apply bg-hydra-dark;
}

body {
  @apply bg-hydra-dark text-white;
}

.gradient-fade-between {
    background-size: 200%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@layer utilities {
    .bg-gradient-muted {
        @apply bg-gradient-to-tr from-[#803cd3] to-[#9a64e3];
    }

    .bg-gradient-brand {
        @apply bg-gradient-to-r from-violet-400 to-orange-400;
    }
}

.Button {
  @apply text-white font-bold text-2xl font-header rounded-xl border-8 border-blue-600 bg-blue-600;
}

.PageBannerTitle {
  @apply font-extrabold text-3xl md:text-5xl lg:text-6xl py-4 font-header px-12 md:px-36 bg-clip-text text-center md:text-left hidden sm:inline-block;
}

.PageBannerText {
  @apply font-medium text-2xl lg:text-4xl py-2 font-spacemono px-12 md:px-36 bg-clip-text inline-block text-center md:text-left;
}

.HoverText {
  background-size: cover;
  position: absolute;
  display: inline-block;
  z-index: -1;
}

.col {
  max-width: 380px;
  margin: 20px;
  flex-basis: 44.44%;
  flex-grow: 1;
}
.fp-watermark {
    @apply hidden;
}

#fp-nav {
    @apply rounded-full bg-white;
}

.bg-stripes {
    background-image: linear-gradient(135deg,var(--stripes-color) 12.5%,transparent 12.5%,transparent 50%,var(--stripes-color) 50%,var(--stripes-color) 62.5%,transparent 62.5%,transparent 100%);
    background-size: 5.66px 5.66px
}

.bg-stripes-white {
    --stripes-color:hsla(0,0%,100%,0.4)}

.bg-stripes-gray-600 {
    --stripes-color:rgba(75,85,99,0.4)}

.bg-stripes-amber-500 {
    --stripes-color:rgba(245,158,11,0.4)}

.bg-stripes-red-500 {
    --stripes-color:rgba(220,38,38,0.4)}